.sign-up-page__alignment {
  width: 100%;
  min-height: calc(720px);
  height: calc(100vh);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(
      150deg,
      rgba(255, 153, 212, 0.6),
      rgba(143, 164, 255, 0.5)
    ),
    url("../../assets/diary-bg-4.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sign-up-page__form {
  width: 30%;
  background-color: rgba(151, 161, 255, 0.55);
  border-radius: 7px;
  margin-top: 40px;
  box-sizing: border-box;
}

.sign-up-page__form-head {
  text-align: center;
  font-family: "Pacifico", cursive;
  font-size: 30px;
  margin-block: 0em;
  color: white;
  text-shadow: 0px 0px 15px rgba(1, 1, 1, 1);
}

.sign-up-page__form-block__display {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  width: 100%;
  margin: 30px 0px;
}

.sign-up-page__form-block__display .MuiFormControl-root {
  width: 90%;
}

.sign-up-page__btn {
  background-image: linear-gradient(
    to right,
    #314755 0%,
    #26a0da 51%,
    #314755 100%
  );
  font-family: "Potta One", serif;
  font-size: 20px;
  margin: 10px;
  padding: 15px 80px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 1px 1px 5px 0.3px rgb(71, 71, 71);
  border-radius: 10px;
  display: block;
  cursor: pointer;
  border: none;
  outline: none;
  text-shadow: 0px 0px 3px rgba(1, 1, 1, 1);
}

.sign-up-page__btn:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}
